* {
    margin: 0; padding: 0;
}

.form-group {
    margin: 10px;
    padding: 10px;
    background-color: rgb(118, 131, 187);
}

main button {
    justify-content: center;
    margin-left: 10%;
   
    border: solid 1px red;
    border-radius: 15px;
    padding: 3px;
}